name: Deploy Dev Account

on:
  workflow_dispatch:

jobs:
  deploy:
    name: deploy
    runs-on: ubuntu-latest
    environment:
      name: dev
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout this repository
        uses: actions/checkout@v4

      - name: Deploy CloudFormation
        shell: bash
        run: |
          echo "Deploy to ${{ vars.DEPLOY_ACCOUNT_ALIAS }} account..."
