name: Deploy to Develop

on:
  workflow_dispatch:

env:
  PROJECT_NAME: build-once

jobs:
  deploy-dev:
    name: deploy
    runs-on: ubuntu-latest
    environment:
      name: dev
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout this repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ap-northeast-1
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}

      - name: Deploy Infra
        uses: ./.github/actions/deploy-infra
        with:
          environment: ${{ vars.DEPLOY_ACCOUNT_ALIAS }}
          aws-region: ap-northeast-1
          stack-prefix: ${{ env.PROJECT_NAME }}-${{ vars.DEPLOY_ACCOUNT_ALIAS }}
